<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
<style>

body{
    text-align: center;
    background-color: blanchedalmond;
}

img{
    border: 2px solid blue;
    width: 500px;
    margin-left: auto;
}

</style>


</head>
<body>

 <h2> Relâmpago Amarelo</h2>   

 <img src="static/minato.jpg">

 <a href="https://oceanbrasil.com/">Visite o site</a>

 <p> Olá a todos, sejam bem vindo a mais um dia de aula</p>

 <ul>
    <li> Luana</li>
    <li> Lorena</li>
    <li>Felipe</li>
    <li>Arthur</li>
 </ul>


    
</body>
</html>